body {
    background-color: rgb(190, 226, 247);
    color:rgb(98, 34, 128);
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    background-color: rgb(89, 170, 170);
    font-family: 'Times New Roman', Times, serif;
    border: #fff, solid, 3px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40px;
    width: 60%;
    text-align: center;
    margin:0px auto;
}

h2 {
    background-color:blanchedalmond;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;

}

h3 {
    border-left: double 20px #245870;
    border-radius: 30px;
    padding-left: 15px;
}

p {
    line-height: 2.2em;
}

img {
    float : left;
    width: 300px; 
    border: #000000, solid, 4px;
    border-radius: 30%;
    margin-right: 20px;

}

a:link{
    color:rgb(212, 72, 179);
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
}


a:visited {
    color:rgb(96, 10, 105);
}


a:hover {
    color: rgb(23, 132, 26);
    text-decoration: underline;
}

a:active{
    color: rgb(196, 36, 19);
}

#pic1 {
    width: 200px;
    height: 200px;
    float: right;
}

#pic3 {
    float: right;
}

/* Class rule */
.highlight {
    font-weight: bold;
    background-color:azure;
    padding: 3px;
    border-radius: 15px; 
    color: #000;

}